.body404 {

    font-family: 'Montserrat';
    color: #FF6060;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.body404 h1 {
    font-size: 15em;
    margin: 0;
    font-weight: 900;
}

.body404 h2 {}