.home {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0%;
    padding: 0%;
}

.header {

    margin-top: 40px;
    margin-bottom: 50px;

    width: 992px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;

}

.navigation a {
    text-decoration: none;
}

.navigation h2 {
    margin-right: 20px;
    width: 100%;
    font-family: 'Montserrat';
    color: #FF6060;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
}

.navigation h2:visited {
    font-family: 'Montserrat';
    color: #FF6060;
    font-weight: 500;
    text-decoration: none;
}

.underline h2 {
    text-decoration: underline;
    color: #FF6060;
}

@media screen and (max-width: 992px) {

    .header {

        width: 90%;
        justify-content: space-between;
        align-items: center;
    }

    .header img {
        width: 100px;
    }

    .navigation {
        justify-content: flex-end;

        width: 100%;
    }

    .navigation h2 {
        font-size: 1em;
        white-space: nowrap;
    }
}